<!DOCTYPE html>
<html lang="en">
<head>
  <title>WAAMIRA</title>
  <link href="/static/css/main.min.css" rel="stylesheet">
    {{/*  <script defer src="/static/js/main.js"></script>*/}}
</head>

<body class="leading-normal tracking-normal text-black gradient bg-blue" style="font-family: 'Source Sans Pro', sans-serif;">

<div class="container mx-auto py-16">
    {{template "content" .}}
</div>

</body>
</html>