{{define "content"}}
  <a href="/" class="text-black p-5 hover:underline">{{"<"}} Back</a>
  <h1 class="text-white font-bold text-4xl">Created ! find it at
    <a href="{{.link}}" class="text-black underline hover:text-white">{{.link}}</a></h1>
  {{ .result }}
{{end}}